*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font_Roboto: "Roboto", sans-serif;
    --font_raleway: "Raleway", sans-serif;
    --font_play: "Playfair Display", serif;
    --color_yellow: #D4C17F; 
    --color_dark: #242B33; 
    --color_footer: #2D343C;
    --color_white: #FFFFFF;
    font-size: 10px;
}

body{
    background-color: var(--color_dark);
}

.first_part{
    width: 100%;
    height: 84rem;
    background-image: url(img/first_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100%;
    max-width: 110rem; 
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 13.7rem;
}

.nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.menu{
    font-family: var(--font_raleway);
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-decoration: none;
    color: var(--color_white);
    transition: 0.3s;
    position: relative;
    padding-bottom: 0.4rem;
}

.menu::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1rem;
    width: 0%;
    background: var(--color_yellow);
    transition: width 0.3s ease;
}

.menu:hover{
    color: var(--color_yellow);
    text-shadow: 1px 1px 10px var(--color_yellow);
}

.menu:hover::after{
    width: 100%;
}

/* КОНЕЦ HEADER */

.main_page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_page h1{
    color: var(--color_yellow);
    font-family: var(--font_play);
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 17rem;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9.8rem;
    margin-top: 20rem;
    margin-bottom: 7.4rem;

}

.place{
    text-decoration: none;
    color: var(--color_white);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font_raleway);
    font-size: 1.8rem;
    font-weight: 400;
    gap: 1.4rem;
}

.place.tel img {
  transform-origin: center; 
}

.place.tel:hover{
  color: var(--color_yellow);
  text-shadow: 2px 2px 10px var(--color_yellow);
  gap: 2rem;
}

.place.tel:hover img {
  animation: ring 0.7s ease-in-out infinite;
  content: url(img/phone-call_hover.svg);

}

@keyframes ring {
  0%   { transform: rotate(0deg) scale(2); }
  10%  { transform: rotate(30deg) scale(2); }
  20%  { transform: rotate(-30deg) scale(2); }
  30%  { transform: rotate(20deg) scale(2); }
  40%  { transform: rotate(-20deg) scale(2); }
  50%  { transform: rotate(10deg) scale(2); }
  60%  { transform: rotate(-10deg) scale(2); }
  70%  { transform: rotate(5deg) scale(2); }
  80%  { transform: rotate(-5deg) scale(2); }
  100% { transform: rotate(0deg) scale(2); }
}

.place.navig:hover{
  color: var(--color_yellow);
  text-shadow: 2px 2px 10px var(--color_yellow);
  gap: 2rem;
}

.place.navig:hover img{
    content: url(img/placeholder_hover.svg);
    animation: nav 1s ease forwards;
}

#mouse:hover img{
    animation: mouse 0.7s ease infinite;
}

@keyframes nav {
    0% {transform: translateY(-100%) scale(2);}
    10% {transform: translateY(0) scale(2);}
    20% {transform: translateY(-80%) scale(2);}
    30% {transform: translateY(0) scale(2);}
    40% {transform: translateY(-60%) scale(2);}
    50% {transform: translateY(0) scale(2);}
    60% {transform: translateY(-40%) scale(2);}
    70% {transform: translateY(0) scale(2);}
    80% {transform: translateY(-20%) scale(2)}
    100% {transform: translateY(0%) scale(2)}
}

@keyframes mouse {
    0% {transform: scale(1.5);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1.5);}
}

/* ВСТАВКА КАРТЫ */
.map-box{
    max-height: 0;
    width: 100%;
    max-width: 110rem; 
    margin: 0 auto;
    overflow: hidden;
    opacity: 0;
    transition: max-height .5s ease, opacity .5s ease;
}

.map{
    width: 100%;
    height: 60rem;
    border: none;
}

.map-box.open{
    max-height: 65rem;
    opacity: 1;
}


/* КОНЕЦ 1 СЕКЦИИ*/

.advantages{
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 7rem;
    margin-top: 12rem;
    margin-bottom: 12rem;
    
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item p{
    font-family: var(--font_Roboto);
    font-size: 2rem;
    line-height: 2.7rem;
    font-weight: 300;
    text-align: center;
    color: var(--color_white);
    margin-top: 5.3rem;
}

/* КОНЕЦ 2 СЕКЦИИ*/

.appartments{
    width: 100%;
    max-width: 110rem; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.appartments h2{
    font-family: var(--font_play);
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--color_yellow);
    margin-bottom: 10rem;
}

.flats{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 3rem;
}

.flats a{
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
}

.loft{
    width: auto;
    aspect-ratio: 1.671875 / 1;
    padding: 5rem;
    display: flex;
    align-items: end;
    border: 4px solid transparent;
    
    
}

.loft h3{
    font-family: var(--font_raleway);
    font-weight: 400;
    font-size: 2.4rem;
    color: var(--color_white);
}

.one{
    background-image: url(img/loft1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.two{
    background-image: url(img/loft2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.three{
    background-image: url(img/loft3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.four{
    background-image: url(img/loft4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.flats a:hover .loft{
    border-color: var(--color_yellow);
    box-shadow: 0 0 20px var(--color_yellow);
}

/* КОНЕЦ 3 СЕКЦИИ*/

.cont{
    width: 100%;
    height: 56rem;
    background-image: url(img/second_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.internal{
    width: 100%;
    max-width: 110rem; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
}

.description h2{
    font-family: var(--font_play);
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--color_yellow);
    margin-bottom: 5rem;
}

.description p{
    font-family: var(--font_raleway);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--color_white);
}

.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 5rem);
    grid-template-areas:
        "text tel"
        "note button";
    row-gap: 3.5rem;
    column-gap: 3rem;
    align-self: flex-end;
}

.input{
    display: block;
    height: 5rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

.input:focus{
    outline: none;
    border: 4px solid var(--color_yellow);
}

input::placeholder{
    color: var(--color_white);
    text-align: center;
    font-family: var(--font_raleway);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.7rem;
}

.note{
    display: flex;
    justify-content: center;
    align-items: center;
}

.note p{
    font-family: var(--font_raleway);
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: var(--color_white);
    text-align: center;
}

.button{
    background-color: var(--color_yellow);
    color: var(--color_white);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.45);
    border: none;
    cursor: pointer;
    transition: 0.2s;
    color: var(--color_white);
    text-align: center;
    font-family: var(--font_raleway);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.7rem;
}

.button:active{
    transform: translateY(1px) scale(0.97);
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    background: var(--color_yellow);
}

/* КОНЕЦ 4 СЕКЦИИ*/

.video-box{
    position: relative;
    width: 100%;
    max-width: 71.9rem;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.cover{
    width: 100%;
    display: block;
    filter: brightness(0.7);
    z-index: 2;
    position: relative;
}

.play{
    background: none;
    border: none;
    position: absolute;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
    z-index: 3;
    transition: transform .15s ease;
}

.play:active{
    background: none;
    transform: scale(0.85);
}

.play img{
    width: 10rem;
    height: 10rem;
    display: block;
}

.movie{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

/* КОНЕЦ 5 СЕКЦИИ*/

.footer{
    background-color: var(--color_footer);
    width: 100%;
    height: 27.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 100%;
    max-width: 110rem; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 16.7rem;
}

.list ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.5rem;
    
}

.list a{
    text-decoration: none;
    color: var(--color_white);
    font-family: var(--font_raleway);
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 5%;
    transition: 0.3s;
    position: relative;
    padding-bottom: 0.4rem;
}

.list a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1rem;
    width: 0%;
    background: var(--color_yellow);
    transition: width 0.3s ease;
}

.list a:hover{
    color: var(--color_yellow);
    text-shadow: 1px 1px 10px var(--color_yellow);
}

.list a:hover::after{
    width: 100%;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.data span{
    color: var(--color_white);
    font-family: var(--font_raleway);
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 5%;
}

#mail{
    color: var(--color_yellow);
    font-weight: bold;
    text-decoration: none;
}

.networks{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.label img{
    transition: 0.5s;
}

.youtube:hover img{
    content: url(img/youtube_hover.svg);
    transform: scale(1.2);
}

.vk:hover img{
    content: url(img/vk_hover.svg);
    transform: scale(1.2);
}

.facebook:hover img{
    content: url(img/facebook-logo_hover.svg);
    transform: scale(1.2);
}

.instagram:hover img{
    content: url(img/instagram_hover.svg);
    transform: scale(1.2);
}

/* КОНЕЦ FOOTER*/

.carousel{
    display: none;
}

.carousel-caption h5{
    font-family: var(--font_raleway);
    font-weight: 400;
    font-size: 2.4rem;
    color: var(--color_white);
    padding-bottom: 5rem;
}

/* бургер */

#burger-toggle {
    display: none;
}

.burger-btn {
    display: none; 
    width: 32px;
    height: 26px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff; 
    transition: .3s;
}

@media (max-width: 1300px) {
   :root{font-size: 8px;}
}

@media (max-width: 950px) {
    :root{font-size: 7px;}
    img{transform: scale(0.8);}
}

@media (max-width: 850px) {
    .flats{display: none;}
    .carousel{display: block;}
    #appartments{
        align-self: center;
        margin: 0;
    }
    .map-box{padding: 0 5rem;}

    .header{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .first_part{height: auto;}
    .contacts{ margin-top: 5rem;}
    .menu{font-size: 1.6rem;}

    .internal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description p{
        padding-left: 10rem;
        padding-right: 10rem;
        text-align: center;
    }

    .form{
        align-self: center;
    }

    .inner{
    width: 100%;
    max-width: 80rem; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5rem;
    }
}

@media (max-width: 600px) {
    .advantages{
        max-width: 60rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 3rem;
        margin-top: 6rem;
        margin-bottom: 8rem;
    }

    img{transform: scale(0.7);}

    .list_two{
        display: none;
    }

    .networks{
        gap: 0.5rem;
    }
}

@media (max-width: 480px) {
   .burger-btn {
        display: flex;
        z-index: 100; 
    }

    .nav {
        position: absolute;
        top: 20rem;
        background: var(--color_dark);
        opacity: 0.7;
        border-radius: 8px;
        overflow: hidden;

        max-height: 0;
        transition: max-height .3s ease;
        width: auto
    }

    .nav ul {
        flex-direction: column;
        padding: 10px 15px;
        gap: 12px;
        justify-content: center;
        align-items: center;
    }

    #burger-toggle:checked ~ .nav {max-height: 260px;}
    #burger-toggle:checked + .burger-btn span {opacity: 0;}
    
   .main_page h1{
    font-size: 4rem;
   }

   .contacts{
        flex-direction: column;
        gap: 1.5rem;
   }

   .list_one{display: none;}

   .form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 5rem);
    grid-template-areas:
        "text"
        "tel"
        "button"
        "note";
    row-gap: 3.5rem;
    column-gap: 3rem;
    align-self: flex-end;
    margin: 0 auto;
   }
}

@media (max-width: 400px) {
    :root{font-size: 6px;}
    img{transform: scale(0.5);}
}


